<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
## Central Logging configuration file
################################################################################
-->


<configuration debug="true" scan="true" scanPeriod="10 seconds"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="logback.xsd">

    <!-- used to support the jul-to-slf4j bridge -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="stdout-dev" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- see http://logback.qos.ch/manual/layouts.html -->
            <!--<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %60.60(%logger{16} %class{0}:%line %thread) - %message%n</pattern>-->
            <pattern>%13.13date{HH:mm:ss.SSS} %-5level  %35.35logger{35}:%-4.4line %.10thread - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/web-sample-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>web-sample.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/web-sample.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>web-sample.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/web-sample-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>web-sample.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Application Loggers -->
    <logger name="org" level="WARN" />
    <logger name="jndi" level="WARN" />
    <logger name="javax" level="WARN" />
    <logger name="sun" level="WARN" />
    <logger name="com" level="WARN" />
    <logger name="net" level="WARN" />
    <logger name="grails" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="java" level="WARN" />

    <!--  to log all HTTP calls made by RestTemplate, enable these two -->
    <logger name="httpclient" level="DEBUG" />
    <logger name="httpclient.wire" level="DEBUG" />
    <logger name="httpclient.wire.header" level="DEBUG" />
    <logger name="org.apache.commons.httpclient" level="DEBUG" />
    <logger name="org.apache.http" level="DEBUG" />

    <logger name="ch.qos.logback" level="WARN" />
    <!-- <logger name="org.springframework.beans.factory" level="DEBUG"/> -->
    <logger name="org.springframework.beans.factory.support.AbstractBeanFactory" level="WARN" />

    <!-- Hibernate logging -->
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.SQL" level="DEBUG" />

    <!-- turn this to DEBUG to see autoconfigure bean info -->
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>

    <!-- turn this to DEBUG to see loading configuration files -->
    <logger name="org.springframework.context" level="INFO"/>
    <logger name="org.springframework.boot.context" level="INFO"/>
    <logger name="org.springframework.boot.context.config" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO" />
    <logger name="org.springframework.web.client.RestTemplate" level="DEBUG" />
    <logger name="org.springframework.web" level="INFO"/>


	<if condition='property("SPRING_PROFILES_ACTIVE").contains("dev")'>
		<then>
			<logger name="org.sample" level="DEBUG" />
		</then>
		<else>
			<logger name="org.sample" level="INFO" />
		</else>
	</if>

    <!-- Root Logger -->
    <root level="WARN">
		<appender-ref ref="DEBUG_FILE" />
 		<if condition='property("SPRING_PROFILES_ACTIVE").contains("dev")'>
			<then>
				<appender-ref ref="stdout-dev" />
			</then>
			<else>
				<appender-ref ref="INFO_FILE" />
				<appender-ref ref="ERROR_FILE" />
			</else>
		</if>
    </root>

</configuration>