<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Create a new user</title>
</head>
<body>

<h1>Create a new user</h1>

<form role="form" name="form" action="" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

  <div>
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" required="true" autofocus="true" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required="true" />
  </div>
  <div>
    <label for="passwordRepeated">Repeat</label>
    <input type="password" name="passwordRepeated" id="passwordRepeated" required="true" />
  </div>
  <div>
    <label for="role">Role</label>
    <select name="role" id="role" required="true" >
      <option th:selected="(${form.role == 'USER'} ? 'true' : 'false' )">USER</option>
      <option th:selected="${(form.role == 'ADMIN') ? 'true' : 'false' }">ADMIN</option>
    </select>
  </div>
  <button type="submit">Save</button>
</form>

</body>
</html>